<html>
<head>
    <link rel="stylesheet"
          href="/static/delivery/css/index.css" />
    <link rel="stylesheet"
          href="/static/delivery/libs/angular-material/angular-material.min.css" />
    <link rel="stylesheet"
          href="/static/delivery/libs/angular-material/angular-material.layouts.min.css" />
    <script src="/static/delivery/libs/angular/angular.js"></script>
    <script src="/static/delivery/libs/angular-route/angular-route.js"></script>
    <script src="/static/delivery/libs/angular-animate/angular-animate.js"></script>
    <script src="/static/delivery/libs/angular-aria/angular-aria.js"></script>
    <script
            src="/static/delivery/libs/angular-messages/angular-messages.min.js"></script>
    <script
            src='/static/delivery/libs/angular-sanitize/angular-sanitize.min.js'></script>

    <script type="text/javascript"
            src="/static/delivery/libs/angular-material/angular-material.min.js"></script>
    <script src="/static/delivery/js/index.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat'
          rel='stylesheet' type='text/css'>
    <title>DeliveryApp</title>
</head>

<body>
<div ng-controller="IndexController" ng-app="DeliveryApp">
    <div class="title_section">
        <div layout="row" flex="90" flex-offset="5" layout-align="space-between center" layout-gt-sm layout-gt-lg>
            <div flex="30">
                <span id="logo">DeliveryApp</span></a>
            </div>
            <div class="navigation-icons"layout="row" flex="25" flex-offset="45">
                <div class="text-right" flex="40"><md-button id="button" ng-href="/settings/">Help</md-button></div>
                <div class="text-right" flex="60"><md-button id="button" ng-href="">Log In or Sign Up</md-button></div>

            </div>
        </div>
    </div>
    <div class="main_section">
        <div layout="column" flex="90" flex-offset="5">
            <div class="main_heading">
                <h1>Order Food Online in Malaysia</h1>
            </div>
            <div class="sub_heading">
                <h3>Food delivery service from restaurants near you!</h3>
            </div>
            <div layout="row" class="search_resturant">
                <div>
                    <md-input-container>
                        <label>City</label>
                        <md-select ng-model="city">
                            <md-option value="Kuala Lumpur">Kuala Lumpur</md-option>
                            <md-option value="Penang">Penang</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Enter an area</label>
                        <input ng-model="user.title">
                    </md-input-container>
                </div>
                <div>
                    <md-button class="md-raised md-primary">Show Restaurant</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>